.container_login {
    .main {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgb(var(--main-theme));
        .auth_template {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
        }
    }
}

@media screen and (max-width: 750px) {
    .container_login {
        //
    }
}