{% extends "layouts/auth-base.html.twig" %}

{% block title %}Connexion à l'Admin{% endblock %}

{% block body %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="card-panel">
            <p>Connexion réussie sur l'espace administrateur. Vérifiez les adresses de connexion et mots de passe.</p>
        </div>
    </div>
</div>

{% endblock %}