{% extends 'base.html.twig' %}

{% block body %}

    <div class="background" id="particles-js"></div>
                
    {% include "blocks/components/_trigger_button.html.twig" with {
        classes: 'background_trigger',
        target: 'slide-in'
    } %}

    <div id="slide-in" class="background_container">
        {% include "blocks/_presentation.html.twig" %}
    </div>

    {% include "blocks/_header.html.twig" with {
        classes: "hidden",
        id: "side_nav"
    } %}

    <main class="right_side out">
    
        {% include "blocks/components/_day-night-switch.html.twig" with {
            id: 'togButton',
            class: 'desktop_button',
        } %}
        
        <section id="portfolio" class="js-portfolio">
            <div id="projects" class="section_titles scrollspy"><h2 class="center-align">PORTFOLIO</h2></div>
            {% include "blocks/_project.html.twig" %}
        </section>
        
        <section id="formations" class="scroll_reveal slide-left js-education">
            <div id="cursus" class="section_titles scrollspy"><h2 class="center-align">PARCOURS</h2></div>
            {% include "blocks/_education.html.twig" %}
        </section>
        
        <section id="competences" class="scroll_reveal slide-left js-competence">
            <div id="tools" class="section_titles scrollspy"><h2 class="scenter-align">ENV</h2></div>
            {% include "blocks/_competences.html.twig" %}
        </section>

        <section class="scroll_reveal slide-left js-contact">
            <div id="contact-me" class="section_titles scrollspy"><h2 class="center-align">CONTACT</h2></div>
            {% include "blocks/_contact.html.twig" %}
        </section>

        {% include "blocks/_footer.html.twig" %}
        
    </main>

    {% include "blocks/components/_project_modal.html.twig" with {
        projects: projects
    } %}

{% endblock %}
