{% extends 'base.html.twig' %}

{% block body %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <section class="policy_main">

        <div class="container" id="caption-border">
            <div class="card-panel">

                {% include "blocks/pages/_page.html.twig" %}
                
                {% if currentPath == '/politique-de-confidentialite' %}
                    <p class="right-align">© 2002-2021, DocumentsLégaux™ (Sequiter Inc.)</p>
                {% endif %}
                
            </div>
        </div>

    </section>
{% endblock %}