{% extends 'layouts/rgpd-base.html.twig' %}

{% block title %}Politique de confidentialité, Données personnelles, Portfolio{% endblock %}

{% block body %}
    <div class="policy_main">

        <div class="container" id="caption-border">
            <div class="card-panel">
                {% include "blocks/pages/_rgpd.html.twig" %}
                <p class="right-align">© 2002-2021, DocumentsLégaux™ (Sequiter Inc.)</p>
            </div>
        </div>

    </div>
{% endblock %}