{% extends '@EasyAdmin/page/login_minimal.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}Password Reset Email Sent{% endblock %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}

    <div class="login-wrapper">
        <div class="content">
            <div class="row valign-wrapper auth_template">
                <div class="card-panel">
                    <p>
                        Email envoyé.
                        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si l'email n'est pas arrivé : vérifier dans les spams ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
                    <p><a href="{{ path('home') }}">Retour à l'accueil</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
