{% extends 'auth-base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    <div class="container">
        <div class="row valign-wrapper">
            <div class="card-panel">
                <p>
                    Email contenant le lien de réinitialisation de mot de passe à l'adresse fournie.
                    Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>Si l'email n'est pas arrivé : vérifier dans les spams ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
