<div class="js-contact">
    <div>
        <div id="preloader" class="hidden valign-wrapper center-align">
            {{ include('blocks/components/_preloader.html.twig') }}
        </div>
        <div id="contact_form_section">
            {{ include('blocks/contact/_form.html.twig') }}
        </div>
    </div>
</div>