<div id="modal1" class="modal">
    <div class="waiting">
        <div class="loader-circle-2"></div>
    </div>
    <div class="modal-content">
        <h4 class="right-align">Contact</h4>
        {{ include('blocks/contact/_form.html.twig') }}
    </div>
</div>