{% set id = id %}
{% set class = class|default %}
{% set wrap_class = wrap_class|default %}
<div class="wrapper {{wrap_class}}">
    <label for="switch" class="hidden"></label>
    <input type="checkbox" name="switch" class="switch {{class}}" id="{{id}}">
</div>