{% set id = id %}
{% set class = class|default %}
{% set wrap_class = wrap_class|default %}
<div class="wrapper {{wrap_class}}">
    <input type="checkbox" name="checkbox" class="switch {{class}}" id="{{id}}">
</div>