{# <img src="{{asset('images/logo_purple.webp')}}" alt="Logo C.S" class="logo-img"> #}

<div class="logo-img">
    <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
     "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="111px" height="111px" viewBox="0 0 500.000000 500.000000"
     preserveAspectRatio="xMidYMid meet">
    
    <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
    <path d="M2794 4249 c-153 -111 -280 -203 -282 -204 -2 -2 -49 -147 -106 -324
    -61 -191 -115 -339 -132 -367 -28 -45 -99 -112 -109 -103 -13 14 -26 162 -20
    233 19 219 108 407 274 580 58 59 198 180 270 232 1 2 0 8 -4 14 -4 7 -29 -2
    -73 -26 -311 -172 -529 -418 -642 -724 -79 -216 -81 -410 -3 -583 14 -31 24
    -59 22 -60 -39 -27 -90 -65 -110 -84 -24 -22 -35 -24 -160 -27 -154 -3 -226
    -19 -339 -74 -87 -42 -203 -150 -241 -222 -56 -108 -14 -258 105 -375 49 -48
    97 -79 235 -151 145 -77 170 -94 155 -102 -11 -5 -81 -35 -156 -66 l-138 -56
    -92 64 c-190 130 -287 166 -478 173 -204 8 -312 -27 -420 -136 -69 -70 -95
    -120 -94 -186 1 -67 29 -119 104 -189 149 -138 417 -218 860 -257 69 -6 125
    -11 126 -12 7 -14 113 -191 131 -217 12 -20 40 -52 61 -73 l38 -37 229 -6
    c471 -13 840 33 1130 141 338 126 573 348 617 583 31 169 -72 364 -270 511
    -74 54 -310 191 -329 191 -45 0 39 39 465 213 443 182 477 198 474 219 -1 12
    -6 26 -11 31 -5 5 -64 -14 -132 -42 -68 -28 -126 -51 -130 -51 -4 0 -103 124
    -220 275 -168 217 -218 275 -236 275 -42 0 -338 -40 -447 -61 -59 -11 -110
    -19 -111 -17 -3 3 335 1069 341 1077 2 2 38 -14 81 -36 74 -39 154 -68 199
    -75 14 -2 63 30 150 97 l129 100 -55 8 c-116 17 -188 38 -277 82 -50 25 -93
    45 -96 45 -2 0 -130 -91 -283 -201z m116 9 c0 -2 -81 -254 -179 -562 l-178
    -559 -118 -33 c-64 -19 -121 -37 -127 -40 -13 -8 -64 41 -99 94 l-28 44 117
    87 c139 104 217 186 262 278 18 38 68 176 111 308 43 132 82 250 86 262 10 27
    154 141 153 121z m-126 -1220 c36 -19 27 -25 -70 -43 -84 -17 -164 -20 -164
    -6 0 4 5 23 11 41 l12 32 91 -4 c55 -3 102 -10 120 -20z m-264 3 c0 -22 -21
    -61 -32 -61 -29 0 -90 22 -82 30 9 8 91 39 107 40 4 0 7 -4 7 -9z m490 -168
    c90 -99 241 -335 222 -347 -5 -3 -97 -41 -205 -85 l-196 -80 -133 53 c-194 78
    -365 168 -419 219 -43 42 -78 101 -66 113 3 3 29 1 57 -5 178 -38 435 32 615
    167 22 17 45 31 52 31 6 1 39 -29 73 -66z m-1225 -155 c-52 -169 -4 -232 286
    -379 57 -29 158 -74 224 -100 109 -43 118 -48 95 -57 -14 -6 -86 -35 -159 -66
    -74 -31 -138 -56 -143 -56 -17 0 -218 95 -337 159 -191 102 -264 180 -265 282
    0 60 37 124 99 168 48 34 140 69 184 70 20 1 22 -2 16 -21z m940 -667 c213
    -106 297 -166 360 -261 115 -173 92 -345 -67 -502 -80 -79 -125 -111 -233
    -166 -174 -89 -404 -144 -688 -165 -43 -3 -49 -1 -62 22 -7 14 -38 61 -69 104
    -31 42 -56 80 -56 82 0 3 80 5 178 5 379 0 599 58 731 191 110 113 97 248 -37
    370 -66 60 -146 105 -277 157 -55 21 -139 54 -187 73 -153 59 -154 56 19 127
    109 46 156 61 178 57 17 -3 111 -45 210 -94z m-729 -302 c374 -145 454 -194
    454 -277 0 -50 -17 -80 -68 -119 -62 -47 -120 -60 -347 -77 l-200 -16 -60 68
    c-33 37 -129 138 -214 224 -149 152 -153 157 -130 168 158 70 298 119 325 115
    17 -3 125 -42 240 -86z m-1312 16 c77 -20 182 -76 279 -148 82 -61 227 -201
    286 -275 l34 -44 -84 7 c-296 23 -530 83 -706 181 -70 39 -113 92 -113 139 0
    46 42 99 102 129 61 30 116 33 202 11z"/>
    </g>
    </svg>    
</div>