{% set progress = progress|default %}
{% set id = id|default %}
{% set classes = classes|default %}

{% if progress >= 0 and progress < 25 %}
    {% set color_start = '#e50f00' %}
    {% set color_end = '#e50f00' %}
{% elseif progress >= 25 and progress <= 40 %}
    {% set color_start = '#e50f00' %}
    {% set color_end = '#ff5f00' %}
{% elseif progress > 40 and progress < 75 %}
    {% set color_start = '#ff5f00' %}
    {% set color_end = '#ffd600' %}
{% elseif progress >= 75 and progress < 100 %}
    {% set color_start = '#ffd600' %}
    {% set color_end = '#00aa1f' %}
{% elseif progress == 100 %}
    {% set color_start = '#00aa1f' %}
    {% set color_end = '#00aa1f' %}
{% endif %}

<div class="chart_body {{classes}}" id="skill_card{{id}}">
    <div class="chart_circle" style='--c0: {{color_start}}; --c1: {{color_end}}'></div>
</div>