@import '../materialize.scss';
@import './_variables.scss';
@import '../components/_switch-button.scss';

body {
    color: var(--secondary-theme);
    background-color: var(--main-theme);
    .black-text {
        color: var(--secondary-theme)
    }
    .white-text {
        color: var(--primary-theme)
    }
    h6 {
        &.competences {
            opacity: .1;
            letter-spacing: 10px;
            font-weight: 700 !important;
            font: normal 100px/1 "Josefin Sans", Helvetica, sans-serif;
            text-align: center;
        }
    }

    img[alt="FrontEnd Mentor icon"] {
        border: solid 1px var(--tertiary-theme);
    }
    .attribution_title {
        border-top: rgba(0, 0, 0, .2) 2px solid;
    }
	font-size: 16px;
    .main.scrollspy {
        backdrop-filter: blur(81px);
    }
    .background {
        position: absolute;
        background: url('../../../public/images/background/desktop.webp') fixed no-repeat center;
        background-size: cover;
        width: 100%;
        height: 110vh;
        top: 0;
        opacity: .1;
    }
    .background::after {
        content: '';
        position:absolute;
        height: 100%;
        right: 0px;
        width: 20px;
        background: var(--main-theme);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
    .right_side {
        margin-left: 33.333333% !important;
        padding: 0 !important;
    }
    .row.row_main {
        margin: 0 !important;
    }
    .btn.white {
        color: var(--secondary-theme);
        svg {
            stroke: var(--secondary-theme);
        }
    }
    .btn.waves-effect {
        border-radius: 15px 0;
        transition: .3s ease-out;
        margin: 1rem 0;
    }
	&::-webkit-scrollbar, .modal1::-webkit-scrollbar {
		width: 15px;
		background-color: var(--main-theme);
	}
	&::-webkit-scrollbar-track, .modal1::-webkit-scrollbar-track {
		background-color: var(--main-theme);
	}
	&::-webkit-scrollbar-thumb, .modal1::-webkit-scrollbar-thumb {
		background-color: var(--secondary-theme);
	}
    .flash_success {
        left: 50%;
        padding: 0 15px;
        position: fixed;
        top: 50%;
        transform: translateX(-50%);
        z-index: 999;
        #close_flash_message {
            background: #90caf9!important;
            color: #000!important;
            font-weight: bold;
            margin-left: 10px;
            padding: 0 10px!important;
        }
    }
    .container {
        margin: 0 auto;
    }
    .container:not(footer .container) {
        padding: 24px;
    }
    .blur {
        background-color: rgba(255,255,255,.04)!important;
        backdrop-filter: blur(81px);
    }
    .right-align {
        .sidenav-close {
            padding-top: 20px;
            display: inline-block;
        }
        .sidenav-close:hover {
            background: transparent !important;
        }
    }   
    nav {
        &.nav-hidden {
            &, .logo {
                transform: translate3d(0,-100%,0)
            }
        }
        i.far.fa-smile-wink {
            height: 15px !important;
            line-height: 1 !important;
        }
        height: 80px !important;
        line-height: 80px !important;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        a.sidenav-trigger {
            display: flex;
            svg {
                display: block;
                margin: auto;
                -webkit-box-shadow: 0px 0px 4px 0px #C4C4C4;
                box-shadow: 0px 0px 4px 0px #C4C4C4;
            }
        }
        ul {
            padding-right: 10px;
            a {
                &:hover {
                    background-color: transparent !important;
                }
            }
            .head-link, .rgpd-head-link {
                display: block;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 39%;
                    left: 22px;
                    right: 0;
                    width: 80%;
                    margin: 0 auto;
                    height: 10px;
                    border-radius: 0 10px;
                    background-color: rgba(var(--secondary-theme), .4);
                    opacity: 0;
                    -webkit-transition: opacity 500ms, -webkit-transform 500ms;
                    transition: opacity 500ms, -webkit-transform 500ms;
                    -o-transition: opacity 500ms, transform 500ms;
                    transition: opacity 500ms, transform 500ms;
                    transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
                    opacity: 1;
                    -webkit-transform: scale(0);
                    -ms-transform: scale(0);
                    transform: scale(0);
                    -webkit-transform-origin: left;
                    -ms-transform-origin: left;
                    transform-origin: left;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        -webkit-transform: translate3d(0, 0.2em, 0);
                        transform: translate3d(0, 0.2em, 0);
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .head-link.active, .rgpd-head-link.active {
        &::after {
            content: '';
            position: absolute;
            bottom: 39%;
            left: 22px;
            right: 0;
            width: 80%;
            margin: 0 auto;
            height: 10px;
            border-radius: 0 10px;
            background-color: rgba(var(--secondary-theme), .4);
            opacity: 0;
            -webkit-transition: opacity 500ms, -webkit-transform 500ms;
            transition: opacity 500ms, -webkit-transform 500ms;
            -o-transition: opacity 500ms, transform 500ms;
            transition: opacity 500ms, transform 500ms;
            transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
            opacity: 1;
            -webkit-transform: translate3d(0, 0.2em, 0);
            transform: translate3d(0, 0.2em, 0);
            opacity: 1;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: left;
            -ms-transform-origin: left;
            transform-origin: left;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    .card-panel {
        background: transparent;
    }
    .nav-icons {
        position: relative;
        margin-left: 15px;
    }
    .hidden {
        display: none;
    }
    .opaque {
        opacity: 0;
    }
    h6 {
        padding: 0 0 20px 0;
    }
    .separator {
        font-weight: bold;
    }
    #logo {
        transition: opacity .5s;
    }
    .logo {
        position: absolute;
        top: 20px;
        left: 50px;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        .logo_img_block {
            position: relative;
            height: 111px;
            svg {
                g {
                    fill: var(--secondary-theme);
                }
            }
        }
    }
    .sidenav-overlay {
        background-color: transparent !important;
    }
    .sidenav {
        li.row {
            .col.s6 {
                padding: 20px 32px;
                font-weight: 500;
            }
            a {
                &:hover {
                    background-color: transparent !important;
                }
            }
        }
        li {
            >a {
                font-family: 'Qwigley', cursive;
                font-size: 30px;
            }
        }
    }
    .nav {
        a {
            font-family: 'Qwigley', cursive;
            font-size: 30px;
        }
    }
    .line {
        fill: none;
        stroke: #f0f0f0;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }   
    .custom-shape-divider {
        // padding: 4rem;
        .shape-fill {
            fill: var(--secondary-theme);
        }    
    }
    .top-1661698483 {
        top: 0;
    } 
    .bottom-1661698980 {
        bottom: 0;
        transform: rotate(180deg);
    }
    .policy_main {
        padding: 150px 0 100px 0;
        color: rgb(12, 12, 12);
        a {
            font-weight: bold;
        }
        ul, ul:not(.browser-default)>li {
            list-style-type: disc;
            width: 95%;
            margin: 0 auto;
        }
    }
    header {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
    }
    img {
        &:not(#competences, .img_profile) {
            img {
                height: auto;
            }
        }
    }
    .mobile_nav_logo {
        margin-top: 50px;
        text-align: center;
    }
    .sidenav {
        li {
            &:nth-child(2) {
                margin-top: 20px;
            }
        }
    }
    .section {
        position: relative;
        padding: 4rem 0;
    }
    .section#aPropos {
        padding-top: 0;
        margin-top: 1.5rem;
    }
    #portfolio {
        padding: 4rem 0 0 0;
        .container {
            width: 100%;
        }
        .row {
            margin: 0;
        }
        .title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-size: 25px;
            p {
                font-family: "Qwigley", Helvetica, sans-serif;
                color: #9b9797;
            }
        }
        .border-top.title-parts {
            height: 6px;
        }
        .border-top-right.title-parts {
            height: 6px;
        }
        .competence_show_btn {
            margin-top: 20px;
            .btn-floating.btn-large {
                margin: 0;
                font-size: 25px;
                font-weight: 500;
                border-radius: 0 50%;
            }
        }
    }
    #competences {
        padding: 4rem 0 2rem 0;
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 0;
        }
        h5 {
            padding: 0 0 10px 0;
        }
        img {
            object-fit: contain;
        }
        .perso {
            img {
                object-fit: contain;
                filter: invert(30%);
            }
        }
        p {
            margin: 5px 0;
        }
        .row {
            margin: 0;
        }
    }
    #formations {
        .container {
            width: 100%;
        }
    }
    .btn {
        margin: 0 5px 2px 0;
    }
    .btn-primary {
        margin: 0 5px 2px 0;
    }
    h5, .job {
        font-size: 40px;
    }
    .name {
        a.al {
            color: inherit;
            font-family: inherit;
            cursor: text;
        }
    }
    h3, .name {
        font-size: 50px;
    }
    .box-caption {
        transition: visibility 0.4s, opacity 0.4s linear;
        span {
            display: block;
        }
        z-index: 2;
        margin: auto
    }
    .background_container {
        background-color: var(--main-theme);
        position: fixed;
        top:0;
        left:0;
        width: 33.3333%;
        height:100%;
        z-index:2;
        transition: all 0.5s;
    }
    .background_trigger {
        display: none;
        position: absolute;
        border-radius: 0 50%;
        top: 50% !important;
        right: 0 !important;
        font-size: 25px;
        font-weight: 700;
        z-index: 3;
        &.out {
            right: -5rem !important;
        }
    }
    .caption {
        position: relative;
        height: 100vh;
        display: flex;
    }
    .sep {
        width: 25%;
        margin: 0 auto;
        height: 5px;
        background: var(--secondary-theme);
        background: linear-gradient(90deg, var(--secondary-theme) 0%, var(--gradient) 48%, var(--main-theme) 100%);
    }
    .text-caption {
        border-radius: 0 100px;
    }
    .nav-wrapper {
        ul {
            li {
                display: inline-block;
            }
        }
        text-align: center;
    }
    #aPropos {
        .profile {
            .img_profile {
                object-fit: cover;
                border-radius: 50% 0 50% 0;
            }
        }
        .text {
            text-align: center;
            padding: 10px 0;
        }
        .row {
            margin: 0;
        }
    }
    .progress-bar {
        border-radius: 20px;
    }
    .progress-inner-bar {
        border-radius: 20px;
        height: 10px;
        width: 5%;
        background: var(--secondary-theme);
        transition: all .9s;
    }
    .head-link.btn-floating.btn-large.btn {
        position: absolute;
        right: 35px;
        top: 185px;
        border-radius: 0 50%;
    }
    .head-link.btn-floating.btn-large.btn.header_button {
        right: 50%;
        top: 85%;
        transform: translateX(50%);
    }
    .portfolio_blocks {
        display: none;
    }
    .modal2.hex_modal {
        background-color: transparent !important;
    }
    .modal1 {
        max-height: 85%;
        padding: 0 0 20px 0;
        background-color: var(--tertiary-theme) !important;
        textarea {
            height: 100px !important;
        }
        .prefix {
            color: #9e9e9e;
            &.active {
                color: var(--secondary-theme);
                svg path {
                    fill: var(--secondary-theme);
                }
            }
        }
    }
    .btn-small {
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        border-radius: 15px 0;
    }
    .upload_cv {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-flow: row wrap;
        margin: 40px 0 -10px 0;
        span {
            width: 100%;
        }
    }
    .download_btn {
        display: inline-block;
    }
    .contact_form {
        .row {
            margin: 0;
        }
        .prefix {
            color: #696969;
        }
    }
    textarea.materialize-textarea {
        height: 100px !important;
    }
    .social {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a {
            text-align: center;
            font-size: 30px;
            padding: 8px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            transition: all .4s;
            .svg-inline--fa {
                path {
                   fill: var(--secondary-theme); 
                   transition: all .4s;
                }
            }
            &:hover {
                background-color: var(--secondary-theme);
                border-radius: 50% 0 50% 0;
                .svg-inline--fa {
                    path {
                       fill: var(--main-theme); 
                    }
                }
            }
        }
        i {
            margin: auto;
            object-fit: cover;
        }
        img {
            margin: auto;
            object-fit: cover;
        }
    }
    .footer-copyright {
        .row {
            margin: 0;
        }
        p {
            margin: 0;
            padding: 20px 0;
        }
        ul {
            margin: 0;
        }
    }
    .head-link.btn-floating.btn-large.btn.hide-on-small-only, .head-link.btn-floating.btn-large.btn.header_button {
        display: flex;
        svg {
            display: block;
            margin: auto;
        }
    }
    .success {
        p {
            padding: 5px 10px;
            background-color: rgb(186, 229, 186);
            color: green;
            border: solid 1px green;
            border-radius: 3px;
        }
    }
    .error {
        p {
            padding: 5px 10px;
            background-color: rgb(235, 188, 188);
            color: darkred;
            border: solid 1px darkred;
            border-radius: 3px;
        }
    }
    .attribution_title {
        font-weight: bold;
        padding-top: 20px;
    }
    .page-footer.section {
        color: var(--secondary-theme);
        padding: 50px 50px 20px 50px;
        .row {
            margin: 0;
        }
    }
    .timeline2 {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
        top: calc(100% - 600px);
        position: relative;
        scroll-behavior: smooth;
        .row {
            span {
                padding-top: 5px;
            }
        }
        * {
            color: var(--shady);
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            &::before {
                color: var(--shady);
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            &::after {
                color: var(--shady);
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
        }
        &::-webkit-scrollbar {
            width: 10px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px var(--main-lightScroll);
            background-color: var(--main-lightScroll);
        }
        ul {
            li {
                list-style-type: none;
                position: relative;
                width: 2px;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
                background: var(--shady);
                border-left: 3px double var(--shady);
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 30px;
                    transform: translateX(-55%);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: inherit;
                    border: 2px solid white;
                    transition: background .5s ease-in-out;
                }
                div.card-panel.inside {
                    position: relative;
                    bottom: 0;
                    width: 400px;
                    padding: 15px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 20px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }
                    .location {
                        box-sizing: border-box;
                        position: relative;
                        display: block;
                        width: 16px;
                        height: 16px;
                        border: 5px solid var(--shady);
                        border-radius: 100%;
                        // float: left;
                    }
                    .location::after {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin: 1px 0 0 -6px;
                        display: inline-block;
                        content: '';
                        border: 6px solid transparent;
                        border-top: 10px solid var(--shady);
                        border-bottom: none;
                    }
                    .school {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                    }
                }
                &:nth-child(odd) {
                    div.card-panel.inside {
                        left: 45px;
                        transform: translate3d(200px, 0, 0);
                        &::before {
                            left: -15px;
                            border-width: 16px 16px 16px 0;
                            border-color: transparent var(--secondary-theme) transparent transparent;
                        }
                    }
                    .time {
                        position: absolute;
                        top: 20px;
                        left: -100px;
                        width: 90px;
                    }
                }
                &:nth-child(even) {
                    div.card-panel.inside {
                        left: -439px;
                        transform: translate3d(-200px, 0, 0);
                        &::before {
                            right: -15px;
                            border-width: 16px 0 16px 16px;
                            border-color: transparent transparent transparent var(--secondary-theme);
                        }
                    }
                    .time {
                        position: absolute;
                        top: 20px;
                        right: -120px;
                        width: 90px;
                    }
                }
                .time {
                    color: var(--secondary-theme);
                    transition: all .5s ease-in-out;
                    transform: rotate(-90deg);
                }
            }
            li.in-view {
                &::after {
                    background: var(--secondary-theme);
                    border: 2px solid white;
                }
                div.card-panel.inside {
                    transform: none;
                    visibility: visible;
                    opacity: 1;
                }
                .time {
                    transform: rotate(0deg);
                }
            }
        }
        strong {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
}

body[theme=dark] {
    .grey.lighten-3 {
        background-color: hsla(0,0%,100%,.1)!important;
    }
    .grey-text.text-darken-4, .grey-text.text-darken-1 {
        color: var(--secondary-theme) !important;
    }
    .attribution_title {
        border-top: rgba(255, 255, 255, .1) 2px solid;
    }
    .background::after {
        background: linear-gradient(90deg, rgba(29, 29, 29,0) 0%, rgba(29, 29, 29,1) 100%);
    }
    .card-panel {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.94),
        0 3px 1px -2px rgba(0,0,0,0.92),
        0 1px 5px 0 rgba(0,0,0,1);
    }
    h2, h3, h4, h5 {
        color: #e1e1e1;
    }
}