@media screen and (max-width: 450px) {
    .modal h4 {
        padding: 24px;
    }
    .modal .modal-content {
        padding: 0;
    }
}
@media screen and (max-width: 320px) {
    .modal i {
        display: none;
    }
}