.wrapper {
    width: 40px;
}
.switch {
    opacity: 1 !important;
    pointer-events: auto !important;
    right: 1.6rem;
    top: 1.7rem;
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.switch:after {
    content: url(../../../public/images/moon.svg);
}
.switch:checked:after {
    content: url(../../../public/images/sun.svg);;
}