@import "_fonts.scss";
@import "_preset.scss";

body[theme=light] {
    .login.card-panel {
        background: rgba(255, 255, 255, .9);
    }
}
body[theme=light], body {
    .main {
        .container_login, .row {
            height: 100%;
        }
        label {
            font-size: 16px;
        }
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        .row.card-panel {
            margin: 0;
            display: flex;
            .inner_row {
                width: 100%;
                margin: auto;
            }
            .login {
                padding: 10%;
                width: 90%;
                margin: auto;
            }
            .btn-primary {
                margin-top: 20px;
            }
            .alert {
                font-weight: bold;
            }
        }
    }
}
@import './_media-queries';