/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    body[theme=dark] .background {
        background: url('../../../public/images/background/darkTablet.webp') no-repeat center;
        background-size: cover;
    }
}
@media screen and (max-width: 600px) {
    body[theme=dark] .background {
        background: url('../../../public/images/background/darkMobile.webp') no-repeat center;
        background-size: cover;
    } 
}