/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    body[theme=dark] {
        background-image: url('../../../public/images/background/darkTablet-min.png');
        background-size: cover;
    }
}
@media screen and (max-width: 600px) {
    body[theme=dark] {
        background-image: url('../../../public/images/background/darkMobile-min.png');
        background-size: cover;
    } 
}