$main-theme: rgba(13, 17, 23, 1);
$secondary-theme: #96587c;
$tertiary-theme: rgba(22, 27, 34, 1);
$font-color: #d4d3d3;
$secondary-font-color: #D0A9C1;
$main-lightScroll: #3d2434;

body[theme=dark] {
    color: $font-color !important;
    background-color: $main-theme;
    background-image: url('../../../public/images/background/darkDesktop-min.png');
    background-size: cover;
	&::-webkit-scrollbar, .modal::-webkit-scrollbar {
		background-color: $main-theme;
	}
	&::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track {
		background-color: $main-theme;
	}
	&::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb {
		background-color: $secondary-theme;
	}
    .white {
        background-color: $main-theme !important;
    }
    .white-text, .black-text, .grey-text.text-darken-1 {
        color: $font-color !important;
    }
    .grey-text.text-darken-3  {
        color: #9e9e9e !important;
    }
    .grey.lighten-3 {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .purple.lighten-5 {
        background-color: $main-theme !important;
    }    
    .purple {
        background-color: $secondary-theme !important;
    }
    .purple-text {
        color: $secondary-theme !important;
    }
    .purple-text.text-lighten-3 {
        color: $secondary-font-color !important;
    } 
    .flash_success {
        #close_flash_message {
            background: #90caf9!important;
            color: #000!important;
        }
    }
    a:not(a.al, .links a) {
        color: $secondary-theme !important;
    }
    nav {
        a.sidenav-trigger {
            svg {
                -webkit-box-shadow: 0px 0px 4px 0px #C4C4C4;
                box-shadow: 0px 0px 4px 0px #C4C4C4;
            }
        }
        ul {
            a {
                &:hover {
                    background-color: transparent !important;
                }
            }
            .head-link, .rgpd-head-link {
                &::after {
                    background-color: rgba($secondary-theme, .4);
                }
            }
        }
    }
    .head-link.active, .rgpd-head-link.active {
        &::after {
            background-color: rgba($secondary-theme, .4);
        }
    }
    .card-panel {
        background: rgba($main-theme, .9);
    }
    .card-panel.inside {
        background: rgba($tertiary-theme, .8);
    }
    h1, h2, h3, h4, h5 {
        color: #9b9797;
    }
    .sidenav {
        background-color: $main-theme;
        li.row {
            a {
                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
    .grey-text.text-lighten-1 {
        color: $font-color !important;
    }
    .page-footer {
        color: $font-color;
    }
}