<footer class="footer-page black lighten-1">
    <div class="footer-copyright">
        <div class="container">
            <ul class="white-text center-align">
                <li class="attribution_title">Attributions</li>
                <li><a class="purple-text text-lighten-3" href="https://fontawesome.com/license" >FontAwesome License</a></li>
                <li>Flag Icons par <a class="purple-text text-lighten-3" href="https://www.freepik.com" title="Freepik">Freepik</a> sur <a class="purple-text text-lighten-3" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
            </ul>
            <p class="center-align white-text">
                &copy; Charlotte Saidi. 2021.
            </p>
        </div>
    </div>
</footer>