{% if app.request.get('_route') == 'home' %}
    {% set sideBody = true %}
{% else %}
    {% set sideBody = false %}
{% endif %}
{% set classes = classes|default %}
{% set id = id|default %}
{% set button_classes = button_classes|default %}

{% if sideBody %}
    <header class="{{classes}} sidenav_container" id="{{id}}">
        
        <ul class="collection">
            {# icons menu #}
            <li class="collection-item transparent"><a class="nav_link projects active" href="#projects">
                {% include "blocks/components/svgs/menu_icons/_gallery.html.twig" %}
                <span class="after">PORTOLIO</span>
            </a></li>
            <li class="collection-item transparent"><a class="nav_link cursus" href="#cursus">
                {% include "blocks/components/svgs/menu_icons/_diploma.html.twig" %}
                <span class="after">PARCOURS</span>
            </a></li>
            <li class="collection-item transparent"><a class="nav_link tools" href="#tools">
                {% include "blocks/components/svgs/menu_icons/_coding.html.twig" %}
                <span class="after">ENVIRONNEMENT</span>
            </a></li>
            <li class="collection-item transparent"><a class="nav_link contact-me" href="#contact-me">
                {% include "blocks/components/svgs/menu_icons/_mail.html.twig" %}
                <span class="after">CONTACT</span>
            </a></li>
        </ul>
        
    </header>
{% else %}
    <header id="header" class="page_header">
        <div class="row" style="margin: 0px; text-align: center;">
            <nav id="navigation" class="transparent nav z-depth-2">
                <div class="nav-wrapper row">
                    <div class="logo col s2" id="logo">
                        CSaidi
                    </div>
                    <ul class="col s10">
                        <li class="right">
                            <a class="rgpd-head-link" href="{{path('home')}}">Retour au Portfolio</a>
                        </li>
                        <li>
                            {% include "blocks/components/_day-night-switch.html.twig" with {
                                id: 'togButton',
                                class: 'page_button'
                            }  %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endif %}