<header id="header">
    <div class="row" style="margin: 0px; text-align: center;">
        <nav id="navigation" class="transparent nav z-depth-2">
            <div class="logo" id="logo">
                <div class="logo_img_block">
                    {% include "blocks/components/_logo.html.twig" %}
                </div>
            </div>
            <div class="nav-wrapper col s12 m12">
                <ul class="right">
                    <li><a class="rgpd-head-link grey-text text-darken-2" href="{{path('home')}}">Retour au Portfolio</a></li>
                    <li>
                        {% include "blocks/components/_day-night-switch.html.twig" with {
                            id: 'togButton',
                            class: 'page_button'
                        }  %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>