@import './function';

.c-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-col {
    img {
        display: block;
        margin: auto;
    }
}

body {
    * {
        margin: 0;
        padding: 0;
    }
    .hexIn {
        margin: 2px;
        .hexLink {
            display:block;
            text-align: center;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img {
                display: block;
            }
            h2, div {
                position: absolute;
                width: 100%;
                padding: 5%;
                box-sizing:border-box;
                font-weight: 300;
                -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
                        transition:          transform .2s ease-out, opacity .3s ease-out;
              }
              h2 {
                bottom: 50%;
                padding-top:50%;
                font: normal 1.5em/1 "Josefin Sans", Helvetica, sans-serif;
                z-index: 1;
                -webkit-transform:translate3d(0,-100%,0);
                    -ms-transform:translate3d(0,-100%,0);
                        transform:translate3d(0,-100%,0);
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 45%;
                    width: 10%;
                    text-align: center;
                    border-bottom: 1px solid #fff;
                }
              }
              div {
                top: 50%;
                padding-bottom:50%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-transform:translate3d(0,100%,0);
                    -ms-transform:translate3d(0,100%,0);
                        transform:translate3d(0,100%,0);
            }
            /*** HOVER EFFECT  **********************************************************************/
            &.hex_modal-trigger {
                &:hover, &:focus, &:active, &.active {
                    h2, div {
                        -webkit-transform:translate3d(0,0,0);
                            -ms-transform:translate3d(0,0,0);
                                transform:translate3d(0,0,0);
                    } 
                }
            }
        }
    }
    // SlideShow
    /* Slideshow container */
    .slideshow-container {
        display: none;
        max-width: 1000px;
        overflow: hidden;
        position: relative;
        margin: auto;
        .slides {
            display: none;
            img {
                display:block;
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            .slide_text {
                font-size: 2.5rem!important;
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
                z-index: 1;
            }
            &.fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                transition: height .6s;
                
            }
            &:hover {
                &:after {
                    height: 0;
                    
                }
            }
            .slide_link {
                display: block;
                cursor: pointer;
            }
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            &:hover {
                background-color: rgba(0,0,0,0.8);
            }
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}

/*** HEX SWIPER **********************************************************************/
body {
    .swiper {
        display: none;
    }
}

// Global Grid media queries
@media screen and (max-width: 900px) {
    body {
        // 
    }
}
@media screen and (max-width: 675px) {
    body {
        .c-row {
            flex-direction: column;
        }
    }
}