/* general */
html {position: relative;}
#background {position: absolute; left: 0; right: 0; width: 100%; height: auto; opacity: .4;}
#body_layer {position: absolute; top: 0; right: 0; left: 0;}
.wrap {max-width: 1400px; width: 100%; margin: 0 auto; padding: 80px 20px;}
.wrap.header {padding-top: 0; padding-bottom: 0;}
h1, h2 {font-size: 25px; font-weight: 500; width: 100%;}
h1 {padding: 0 10px}
h2 {padding: 0 0 20px 0; margin: 0;}
h2 span {color: #aa076b;}
p {text-align: justify; padding: 10px 0;}

/* header's banner */
.banner {line-height: 1.5; padding-top: 100px; display: flex; justify-content: space-around; align-items: center;}
.banner .button {display: block; width: 120px; text-align: center; text-decoration: none; font-weight: bold; text-transform: uppercase; background-color: #811453; color: #fff; padding: 7px 0; margin: 20px auto 0 auto; border-radius: 30px;}
.banner .button:hover {color: #811453; background-color: #d5d5d5;}
.banner_img {width: 40%;}
.banner_img img {width: 100%;}

/* first section*/
.intro_box {display: flex; flex-flow: row wrap; justify-content: space-between;}
.introduction h2 {text-align: center; padding-bottom: 40px;}
.block {width: 33%; display: flex; justify-content: flex-start; align-items: flex-start; padding: 0 5px;}
.block i {color: #811453; font-size: 2em; border: #811453 1px solid; border-radius: 50%; padding: 8px; margin-right: 10px;}
.block h3 {font-weight: 600; font-size: 16px;}

/* second section */
#shelter {background-color: #f7f8fa;}
.shelter {display: flex; justify-content: space-between;}
.shelter .map {width: 552px; position: relative;}
.map img {width: 100%; border-radius: 10px; height: 350px;}
.shelter .text {width: 45%;}
.shelter .map, .shelter .text {margin: auto}
.map i {font-size: 20px; color: #811453;}
.map a {position: absolute; transform: scale(1); transition: all .1s;}
.map a:hover {transform: scale(1.5);}
.france {bottom: 115px; left: 165px;}
.uk {bottom: 190px; left: 135px;}
.germany {bottom: 150px; left: 250px;}
.spain {bottom: 20px; left: 90px;}
.suede {bottom: 290px; left: 300px;}
.norway {bottom: 310px; left: 260px;}
.belgium {bottom: 147px; left: 195px;}
.italy {bottom: 50px; left: 260px;}

.read {text-decoration: none; font-weight: bold; color: #4e4f51;}
.read:hover {color: #aa076b}

/* third section */
#free_clinic .text, #free_clinic p {text-align: center;}
.flexslider_1 {width: 80%; margin: 0 auto;}
.flexslider_1 .slides img {width: 48%; height: 400px; float: right; margin: 1%;}
.flex-direction-nav .flex-prev {left: -20px; opacity: 1;}
.flex-direction-nav .flex-next {right: -20px; opacity: 1;}

/* fourth section */
#volunteering_recruiting {background-color: #f7f8fa; position: relative; overflow: hidden;}
.volunteering_recruiting {display: flex; justify-content: flex-end;}
.volunteering_recruiting img {position: absolute; left: 0; bottom: 0; height: 100%; width: 50%; opacity: .7}
.volunteering_recruiting .text {width: 48%; margin: auto 0; z-index: 1}
.volunteering_recruiting strong {padding: 40px 0 10px 0; font-weight: bold;}
.volunteering_recruiting button {border: none; display: block; font-family: 'Roboto', sans-serif; width: 100px; text-align: center; text-decoration: none; font-weight: bold; text-transform: uppercase; background-color: #811453; color: #fff; padding: 10px 0; margin-top: 20px; border-radius: 30px; cursor: pointer;}
.volunteering_recruiting button:hover {color: #811453; background-color: #d5d5d5;}

/* responsive media queries */
@media screen AND (max-width: 1024px) {
  .wrap {padding: 50px 10px;}
  .wrap.shelter {flex-direction: column;}
  .shelter .text, .shelter p {width: 100%; text-align: center;}
  .shelter .map {display: none;}
}
@media screen AND (max-width: 800px) {
.block {width: 90%; padding: 10px 0;}
.wrap {flex-direction: column; justify-content: space-between; align-items: center;}
.volunteering_recruiting .text {width: 98%;}
.volunteering_recruiting img {width: 100%; opacity: .7}
.flexslider_1 {display: none;}
}
@media screen AND (max-width: 720px) {
  h1 {font-size: 18px;}
}
@media screen AND (max-width: 620px) {
  .banner_img {display: none}
  h1 {font-size: 25px;}
}