.policy_main {
    padding: 150px 0 100px 0;
    color: rgb(12, 12, 12);
    a {
        font-weight: bold;
    }
    ul, ul:not(.browser-default)>li {
        list-style-type: disc;
        width: 95%;
        margin: 0 auto;
    }
}