@import "_fonts.scss";
@import "_preset.scss";

body {
    .main {
        label {
            font-size: 16px;
        }
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        .row {
            justify-content: center;
            .login.card-panel {
                width: 80%;
                margin: 0 auto;
                background: rgba(255, 255, 255, .9);
            }
            .btn-primary {
                margin-top: 20px;
            }
            .alert {
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    body .main .row .login.card-panel {width: 95%;}
}