{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Erreur serveur{% endblock %}
{% block body %}

<div class="error_page">
    <div class="main">
        <div class="error_template center-align">
    
            <div id="error">
                {% include "blocks/components/_error_message.html.twig" with {
                    title: "Oups...",
                    message: "Un problème est survenu !",
                    emoji: "&#129300;"
                } %}
            </div>
    
        </div>
    </div>
</div>
{% endblock %}