{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Page introuvable{% endblock %}

{% block body %}

<div class="error_page">
    <div class="main">
        <div class="error_template center-align">

            <div id="error">
                {% include "blocks/components/_error_message.html.twig" with {
                    title: "404",
                    message: "Ce site ne contient qu'une page, comment avez vous fait pour vous retrouver ici ?!",
                    emoji: "&#128514;"
                } %}
            </div>

        </div>
    </div>
</div>
{% endblock %}