{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Non autorisé{% endblock %}

{% block body %}

<div class="error_page">
    <div class="main">
        <div class="error_template center-align">

            <div id="error">
                {% include "blocks/components/_error_message.html.twig" with {
                    title: "403",
                    message: "Nope ! Bien tenté mais cet espace m'est réservé !",
                    emoji: "&#128513;"
                } %}
            </div>

        </div>
    </div>
</div>
{% endblock %}